[2016-09-10 20:22] gep13 opened #2 "Icon in Dark Theme seems to have colours inverted"
As we discussed, this is what I am seeing in the dark theme:

![image](https://cloud.githubusercontent.com/assets/1271146/18413323/58868572-779c-11e6-97b4-38fee67f64d5.png)

Seems ok in here though:

![image](https://cloud.githubusercontent.com/assets/1271146/18413332/9cbb2d56-779c-11e6-9867-0258caf067fa.png)

[2016-09-10 20:35] gep13 opened #8 "Add Build Script"
- Ready for publishing to Marketplace
- Will be similar to what is done for VSTS and VsCode extensions

[2016-09-10 20:38] gep13 opened #9 "Can the debug option automatically attach to process"
Since we are already in Visual Studio instance, can we skip this step:

![image](https://cloud.githubusercontent.com/assets/1271146/18413399/f277204a-779e-11e6-9fef-d87972c6bb72.png)

[2016-09-11 02:07] agc93 commented on #8
I actually tried this a little while ago and fails as there's a custom build action on one of the files that Cake doesn't seem to understand. I'll look into this again and see if I can get it to work.

[2016-09-11 03:13] agc93 commented on #2
Resolved! :cake:

![screenshot 77](https://cloud.githubusercontent.com/assets/1369269/18414939/6f8438d4-7821-11e6-9f88-ec3f31325506.png)
![screenshot 78](https://cloud.githubusercontent.com/assets/1369269/18414940/754f97cc-7821-11e6-894a-fc715bebd497.png)

[2016-09-11 03:22] agc93 commented on #9
I will still try and look into this, but there is at least one problem. Presently the task runner doesn't have any control over the actual execution phase: it just returns a list of tasks for Visual Studio to execute on our behalf. It looks like there might an avenue using the `ITaskRunnerCommandService`, but I haven't used it before.

Where would we stand on shipping without this?

[2016-09-11 04:52] agc93 commented on #8
@gep13 I have a script that builds and packages the VSIX to `dist/`, but am not 100% sure on how the publishing process works and the VS Code script is pretty complex.. Ideas on next steps?

[2016-09-11 06:00] gep13 commented on #8
Nice one!

Push what you have, and we can work on it together.

[2016-09-11 06:01] gep13 commented on #9
I think that would be fine. I would see this as a longer term feature.

[2016-09-11 06:02] gep13 commented on #2
Sweet!

[2016-09-11 06:07] agc93 commented on #8
[018c9a5](https://github.com/agc93/Cake.VisualStudio/commit/018c9a5be60e75bd67ea2e96b125223d079340f9) added the basic build script that creates the package, now just need to work out the publishing etc parts

[2016-09-11 06:21] gep13 commented on #8
Last night I pushed a new version of Cake.Tfx that includes a publish step. You just need to provide the path to the vsix, and the personal access token, which will come from an environment variable, similar to the score extension.

[2016-09-11 06:22] gep13 commented on #8
**NOTE:** The Cake.Tfx extension publish command is relatively untested, so this will.be it's trial by fire. 🙂

[2016-09-11 07:20] agc93 commented on #8
Ah, I was wondering why it wasn't in the docs, but being less than 24 hours old might be why :laughing: . Okay, I'll put a new "Publish" task in there, push and get you to have a look at it before we take the plunge!

I'll just set it to some random environment variable name and we can adjust once we get to actually putting it through CI

[2016-09-11 07:26] gep13 commented on #8
Damnit! Knew there was something I had to do! Haven't updated the usage docs, but there should be an example in the xml comments for each alias. The one thing I am not sure of is how do you distinguish a visual studio extension from a vscode or vsts extension? Vscode extensions are pushed with the vsce cli, so that makes sense, but I think vsts and vs extensions are pushed with the same tfx cli.

[2016-09-12 00:57] agc93 commented on #8
@gep13 good point. Because judging by [this documentation](https://github.com/Microsoft/tfs-cli/blob/master/docs/extensions.md) for TFX itself, it looks like it only does VSTS and TFS extensions.

And if you follow the links from the main Marketplace for working with Visual Studio extensions they send you back to the "old" Gallery site to upload. I think we may have been a bit optimistic about usi

[2016-09-16 00:10] agc93 commented on #8
@gep13 As discussed, I've updated the build script to just upload an AppVeyor artifact, rather than attempting to publish. Does that look/sound correct?

[2016-09-24 08:52] agc93 commented on #8
Resolved by #10

[2016-09-24 08:52] #8 closed

[2016-09-24 08:53] agc93 opened #12 "Template NuGet packages are stored in repository"
Storing the `nupkg` files used by the templates in the repository is inefficient and should be downloaded on demand/on build instead. Initially raised by @devlead from #11

[2016-09-24 18:49] gep13 opened #14 "Add .Net Foundation License Information"

[2016-09-24 19:02] gep13 opened #16 "Code review for StyleCop and InspectCode"
- Just using what is included in Visual Studio just now, but should likely add to build process at some point.

[2016-09-24 19:46] gep13 opened #18 "Update Build Script"
To include things like:
- [x] GitReleaseManager for generating release notes
- [x] GitVersion for asserting Semantic Version number, including updating of required files
- [x] Push develop version of VSIX to MyGet

**NOTE:** This is not an exhaustive list, just things I am thinking about as I type.

[2016-09-24 19:48] gep13 opened #19 "Add StyleCop"
This will keep @patriksvensson really happy 😄

[2016-09-24 19:49] gep13 opened #20 "Set version number ready for publishing"
Let's start with `0.1.0` and we will apply semantic versioning going forward

[2016-09-25 00:59] agc93 commented on #14
LGTM 👍

[2016-09-25 08:44] agc93 commented on #20
Resolved by #21

[2016-09-25 08:44] #20 closed

[2016-09-25 08:45] agc93 commented on #14
Resolved by #15

[2016-09-25 08:45] #14 closed

[2016-09-25 08:45] agc93 commented on #16
Resolved by #17

[2016-09-25 08:45] #16 closed

[2016-09-25 10:53] agc93 opened #22 "build.cake template does not compile"
The template for a `build.cake` file is missing a semi-colon on line 30 and doesn't compile out of the box.

[2016-09-25 11:12] agc93 commented on #2
The icons from the Build > Cake Build menu were affected by the same issue, but weren't fixed at the same time, so this is still outstanding for those icons

[2016-09-25 13:44] patriksvensson commented on #19
Oh yes! 😆

[2016-09-25 19:17] gep13 opened #25 "Ensure that master branch builds on AppVeyor"

[2016-09-25 19:23] #22 closed

[2016-09-25 19:23] #2 closed

[2016-09-25 19:26] #25 closed

[2016-09-25 20:34] gep13 opened #26 "Update extension to use 0.16.1 of Cake"

[2016-09-25 20:35] gep13 opened #27 "Document Release Process so everyone in team can follow it"

[2016-09-25 20:40] Seeker1437 opened #28 "Initalize Cake Command"
The idea is to be able to open a possibly pre-existing solution and then right click and select 'Initialize Cake'.

Using a gui and user input it would give you the ability to have the properly files generated for you.

In the backend it might create and add a cake script project placing the files were the user likes, where they can then edit and debug the scripts from there, but it may use the us

[2016-09-26 08:37] thomaslevesque opened #29 "The extension doesn't support the -experimental flag"
I use the `-experimental` flag to enable C# 6 features. Apparently the extension doesn't provide a way to pass this flag to cake.exe, so my Cake tasks fail to compile.

[2016-09-26 10:14] agc93 commented on #29
I'll take a look at this, and I should be able to add it alongside the other options

[2016-09-26 12:25] pitermarx opened #30 "Make the task detection independent of build.cake position"
It seems to me that build.cake cannot be on a sibiling path of the solution, but only on a parent path.

With
\git\MyProject\src\MySolution.sln
\git\MyProject\BuildScripts\build.cake
The tasks are not detected

When i moved to
\git\MyProject\build.cake
it was detected

[2016-09-26 13:57] thomaslevesque commented on #29
btw, I was wondering: why do I still need "experimental" to use C# 6 features? C# 6 has been out for more than a year. I thought it was because the Roslyn scripting APIs weren't yet stable, but now they are...

[2016-09-26 13:59] patriksvensson commented on #29
We still target .NET 4.5 and that is using the older Roslyn bits. The experimental bits are not even the latest either but pre-release bits (but still a lot newer).

If you truly want the latest Roslyn bits, then you should use the Cake.CoreCLR package that contains cross platform Roslyn.

[2016-09-26 14:20] thomaslevesque commented on #29
Ah, thanks. I'll give it a try.

[2016-09-27 11:04] agc93 commented on #28
Thanks for the suggestion @Seeker1437

As an introduction and context, we currently include an item template for a new Cake script that can be added to a project, as well as the Install commands available in the Build > Cake Build menu group (for bootstrappers and configuration files).

So that we're on the same page, it sounds like you're looking for very similar functionality to what's included

[2016-09-27 13:47] agc93 commented on #26
Once #33 is merged in, this will be much easier, so will wait until that is complete before tackling this one.

[2016-09-27 14:26] agc93 commented on #18
Any news on getting MyGet VSIX stuff set up? I've started upgrading the build scripts to be closer to what `cake-build/cake`, `cake-build/cake-vso` etc use, but I'm leaving the "Publish" step as an AppVeyor upload for now

[2016-09-27 14:28] #12 closed

[2016-09-28 08:12] gep13 commented on #18
@agc93 the MyGet feed is ready to go. I will get you the information later today.

[2016-09-28 08:26] agc93 opened #35 "Task parser does not recognise nested Cake files"
The task parser does not read tasks defined in nested Cake files loaded via `#load`

[2016-09-29 06:58] #29 closed

[2016-09-29 06:59] #26 closed

[2016-09-29 07:00] #35 closed

[2016-09-29 07:05] gep13 commented on #28
@Seeker1437 were you able to expand on this suggestion that you made? Thanks!

[2016-09-29 08:06] agc93 opened #37 "Task parser does not support symbols or numbers in task names"
The pattern used to identify tasks only recognises names composed entirely of letters (i.e. no numbers, symbols or whitespace).

Since these are all valid, the task parser should allow them.

[2016-09-29 09:57] Seeker1437 commented on #28
Hi, @agc93 , Thank you for your time!

You understand correctly!

The idea is to help standardize certain aspects of cake in certain situations, the builder (as I can imagined) would provide the user with the opportunity to make adjustments to the file via a series of options in which a preview can be generated during the process per changed. The each option can then be explained and recommendatio

[2016-09-30 20:03] #37 closed

[2016-09-30 20:04] gep13 commented on #19
@agc93 I am away at DDDNorth this weekend, but hopefully I will get back around to this, and get the PR finished off soon.

[2016-10-01 04:22] mgasparel opened #39 "Respect C# Editor Preferences"
When in a .cake file, hitting tab does not insert spaces, even though this is how my C# text editor is configured. I can't seem to find any way to configure the cake extension independently.

![image](https://cloud.githubusercontent.com/assets/2152222/19011682/e45db8fc-876b-11e6-9701-c707b625d345.png)

[2016-10-01 08:10] agc93 commented on #39
Cake scripts (when using this extension) actually register with Visual Studio as generic code files (not C#)<sup>1</sup>, so it will use the generic editor settings by default. Have you tried setting the option in Text Editor -> **Plain Text** -> Tabs and see if that works the way you expect?

---
<sup>1</sup>: Registering a file type (such as Cake scripts) as C# in Visual Studio automatically tri

[2016-10-01 12:47] mgasparel commented on #39
That's perfect. Thanks for the information!

[2016-10-01 15:59] agc93 commented on #39
No problem. Let us know if you have any other issues!

[2016-10-01 15:59] #39 closed

[2016-10-06 12:49] gep13 commented on #30
Conversation where this was discussed: https://gitter.im/Microsoft/extendvs?at=57f52e3729403a416fcb7cbe

[2016-10-06 13:09] pitermarx commented on #30
I understand. That's sad though.
As far as I am concerned, you can close this when 0.2.0 is released

[2016-10-12 06:06] nnyegaard commented on #30
It seems that the task runner can't detect the task in the cake file even though it is in root.

I have a ASP.NET Core app with paths:
root\src
root\test
root\Api.sln
\root\cake.build

And the task runner detects the cake file, but it does not show any tasks

[2016-10-12 06:21] gep13 commented on #30
@nnyegaard is this a public repo that we can take a look at?  If so, where is it?

Also, is that a typo in your comment?  You have `cake.build` rather than `build.cake`.

[2016-10-12 09:28] nnyegaard commented on #30
Yes sorry build.cake.

I have published the repo here: [https://github.com/nnyegaard/cakebuild](https://github.com/nnyegaard/cakebuild)

[2016-10-12 09:37] agc93 commented on #30
@nnyegaard I can see the tasks showing up when I open that repo. For the tasks to be loaded, you either a) need to have run the bootstrapper at least once or b) have Cake.exe available on your PATH.

Do you have your tools/addins installed in a custom directory for that solution?

![screenshot 85](https://cloud.githubusercontent.com/assets/1369269/19305199/3a60c30c-90b3-11e6-8365-452998f4eb0a.png)

[2016-10-12 09:39] nnyegaard commented on #30
I had yet to run the bootstrapper (build.ps1), but after I got the tasks.

Thanks a lot guys!

[2016-10-12 15:03] jnm2 opened #40 "Syntax highlighting ignores /* */ style comments"
Visual Studio 2015.3, extension version 0.1.1.0.

`//` comments are styled. `/* */` are not styled, regardless of whether they are spread across lines.

Also, this should work like it does for `cs` files:

[code]

So you can switch with one keypress:

[code]

[2016-10-12 15:57] jnm2 opened #41 "New line should return to same level of indentation"
When you press enter, the cursor should be positioned at the same indentation level as the previous line.

Currently the cursor starts back at the first column, making typing this quite tedious:

[code]

[2016-10-12 16:36] jnm2 opened #42 "C# keywords inside strings should not be highlighted"
Currently `var` is bright blue in `PreprocessorVariable = "var.SourceDir"`.
VS2015.3, extension v0.1.1.0

[2016-10-17 18:49] gregfiske opened #43 ""Clean" and "Default" are only listed tasks in Task Runner Explorer"
I've run the bootstrapper.  And those tasks are the only ones from my file that appear. I downloaded the [example repo](https://github.com/cake-build/example) and all it shows is "Build" "Clean" and "Default" even though there is also "Restore-Nuget-Packages" and "Run-Unit-Tests." Am I missing something or did I misunderstand how it works?

[2016-10-17 19:02] gep13 commented on #43
@gregfiske fairly sure this has been addressed here: https://github.com/cake-build/cake-vs/issues/37 and will ship with the next release.

[2016-10-17 19:24] #43 closed

[2016-11-04 11:51] jnm2 opened #45 "Collapsable methods and tasks"
It would be nice to be able to collapse and expand sections of code by method and even more awesome to be able to collapse either entire Task statements or `Does` statement lambdas.

[2016-11-04 15:08] jnm2 opened #46 "Semantic syntax highlighting"
I was going to start an issue about another syntax highlighting issue and realized I'm starting a bunch.
The bigger picture is that it would be good to have Roslyn semantically highlighting everything so that there can be no inconsistencies to maintain, especially as new features get added to the language.

Hopefully putting the burden on Roslyn will solve these and future issues as well:

- [ ] #

[2016-11-07 14:00] jnm2 opened #47 "Add VS Options/Text Editor/Cake node"
Right now if I want to control tab and space behavior I need to use the VS Options/Text Editor/Plain Text node, but I would really like to maintain different settings between plain text and .cake files.

[2016-11-07 14:06] gep13 commented on #47
Isn't that where something like EditorConfig would come into play?

[2016-11-07 14:08] jnm2 commented on #47
I'm not familiar with EditorConfig but I don't want to have to use a 3rd party tool in addition to the Cake VS extension. From what I see EditorConfig is more about syncing IDEs which I don't need.

[2016-11-16 15:59] agc93 commented on #47
![screenshot 77](https://cloud.githubusercontent.com/assets/1369269/20354308/74022b92-ac69-11e6-8bc1-ead509f860ad.png)

This will be merged in once #44 goes in and I can re-test.

[2016-11-18 07:21] agc93 opened #50 "Update Cake to 0.19.4"
This will also involve updating xUnit.NET dependencies in testing template since Cake.Testing also now depends on beta xUnit packages.

[2016-11-18 07:46] gep13 commented on #50
dependencies in testing template since Cake.Testing also now depends on beta xUnit packages.

This was actually a mistake, and that dependency shouldn't be there.

I believe that @patriksvensson is planning on correcting that in the 0.18.0 release.

[2016-11-18 07:49] agc93 commented on #50
Ah, okay. In that case, we have a couple of options:

1. Wait until Cake 0.18.0 is released and jump forward
2. Update the addin/module templates to 0.17.0 and leave the testing templates on 0.16.1
3. Update to the beta xUnit.NET packages now in advance

Thoughts @gep13 and/or @patriksvensson ? I had a quick start on this last night and I can definitely take option 3 if we want, but I'm not sure I

[2016-11-18 07:51] gep13 commented on #50
My gut feel would be to wait until 0.18.0.  I believe that @devlead wanted to get that out sooner rather than later, and then start working on getting a few things working for the Visual Studio 2017 release and moving towards a single scripting engine.

[2016-11-18 14:01] agc93 commented on #50
Fair enough, I might also leave it for now then. Especially since Visual Studio 2017 support might not be quite so straightforward for this :laughing:

I'll keep an eye out for 0.18.0 and pick this up again then.

[2016-11-21 22:30] jnm2 commented on #47
@agc93 You're the best!

[2016-12-01 09:45] nalla opened #52 "task-runner: Rework regex to be more flexible"
Some projects may enforce special coding style guidelines on their projects. To be more flexible in this area the regex that is used to identify task names should be more flexible.

This issue is the result of the quick discussion in the gitter chat:

[2016-12-02 04:00] #52 closed

[2016-12-08 18:29] matkoch opened #53 "Huge console output turns UI unresponsive."
I guess just a random project with verbosity set to `Diagnostic` will render enough output to make the task runner explorer unresponsive and unable to cancel the execution.

[2016-12-09 14:47] agc93 commented on #53
I'll try a couple of tests with this, but I suspect the problem here his out of our control. When it comes to actually executing the tasks, we just tell Visual Studio what to do (provide a task definition of sorts), and the execution is carried out by VS itself. Once you actually begin to run a task, the extension is a bit out of the loop.

I'll run a couple of experiments and see if there's anyth

[2016-12-11 14:53] agc93 opened #54 "Support drag and drop into scripts"
We should allow dragging-and-dropping supported files directly into scripts.

My initial view of this should be:

- Support dropping `.cake` files and automatically `#load` them
- Support dropping `.dll` files and automatically `#r` them
- Leave existing behaviour unchanged (i.e. support dropping solution items as a file path)

This should leave the major use case of referencing per-project files

[2016-12-11 15:52] matkoch commented on #29
Is it possible to release this fix before all other issues for this milestone are resolved? Things like auto-indention, drag&drop and auto debug can be easily workarounded. But with this feature missing, I am forced to write new, soon to be changed code. #37 falls into the same category.

[2016-12-11 16:49] agc93 commented on #29
@matkoch If you look at the PR for this issue, you can check out the [AppVeyor build](https://ci.appveyor.com/project/cakebuild/cake-vs/build/1.0.37/artifacts) and you can download the VSIX directly from the build artifacts to locally install to get this fix right away.

We're working on getting a CI build available using MyGet (you can track that over at #18/#48 ), but for now each PR builds a VS

[2016-12-12 15:12] agc93 opened #61 "Addin project templates target .NET 4.5.2"
Creating a new addin project using the project template creates a project targeting .NET 4.5.2 (resulting in a NuGet package using `lib/net452`) which is not supported by Cake.

These projects should target .NET 4.5 (`net45`) instead.

[2017-01-18 10:37] lucaritossa opened #62 ""Task Runner Explorer" ignores task with name containing "-" minus sign"
If you have defined a task name like "Run-Unit-Tests"

[code]

it will not be showed/available into "Task Runner Explorer".

Changing the "minus" into "underscore" solve (workaround) the issue.

[2017-01-18 12:56] agc93 commented on #62
Hi @lucaritossa and thanks for the report!

What version of the extension are you currently using?

If on 0.1.x can you please try installing the prerelease version of the extension as outlined in [this blog post](http://cakebuild.net/blog/2016/12/cake-vs-prerelease) as there have been quite a few changes to the task parsing logic for 0.2.x.

Thanks!

[2017-01-18 14:07] lucaritossa commented on #62
I confirm I'm using 0.1.1.0.
I've installed 0.2.0.33 and all it's ok!!!

Thank you!
LR

[2017-01-18 14:07] #62 closed

[2017-01-29 23:12] shaynevanasperen opened #63 "Support Visual Studio 2017"
Please add support for Visual Studio 2017

[2017-01-29 23:20] agc93 commented on #63
Thanks for the feedback @shaynevanasperen ! It's definitely on our roadmap, we just need to do some more testing to ensure we get the new installation and VSIX format correct.

[2017-02-03 13:15] #41 closed

[2017-02-03 14:26] agc93 opened #64 "Update Cake to 0.17.1"
Before 0.18.0 arrives, we can update to 0.17.0/1 (since it fixes the xUnit.NET dependency). That way, we at least get up-to-date templates etc before 0.18

[2017-02-03 19:26] #64 closed

[2017-02-03 19:34] #47 closed

[2017-03-06 22:48] matkoch commented on #9
Given the process id and [this code](http://stackoverflow.com/questions/1626458/how-to-attach-a-debugger-dynamically-to-a-specific-process), you should be able to attach programmatically.

[2017-03-06 22:52] agc93 commented on #9
Thanks @matkoch ! While that will work (and will be the avenue we use going forward), the major issue with the original design is that there's no way for the extension to call that code from the Task Runner at all. Once we provide the `ITaskRunnerNode` for our file, VS handles everything after that. We're looking into how better to approach this now.

[2017-03-06 22:59] matkoch commented on #9
@agc93 I guess either cake.exe should signal that somehow using IPC, or you could have another thread, that watches for processes of cake.exe. You could even find out, if it's a child process of the current VisualStudio.

[2017-03-06 23:08] agc93 commented on #9
@matkoch While possible, going OOP from Visual Studio requires quite significant changes to how the extension is built, packaged and shipped so I'd prefer to avoid it if we can.

[2017-03-13 22:15] gep13 opened #69 "Cake for Visual Studio 2017"
@DixonDs commented on [Mon Mar 13 2017](https://github.com/cake-build/cake/issues/1531)

Please, update Cake extension (https://marketplace.visualstudio.com/items?itemName=vs-publisher-1392591.CakeforVisualStudio) for VS 2017

[2017-03-13 22:16] gep13 commented on #69
@DixonDs I believe I am right in saying that work is already in progress for doing just that.

@agc93 can confirm.

[2017-03-13 22:16] gep13 commented on #69
In fact, see here:  https://github.com/cake-build/cake-vs/pull/67

[2017-03-13 22:17] gep13 commented on #69
This is a duplicate of https://github.com/cake-build/cake-vs/issues/63

[2017-03-13 22:17] #69 closed

[2017-04-09 16:06] ShaneRayCafe opened #70 "Tasks imported via #load directive not listed"
I have a `build.cake` file in the root of my solution.  It loads another file via `#load "src/base.cake"`.  These are not loaded in the Test Runner Explorer (pictured below).

![image](https://cloud.githubusercontent.com/assets/26253656/24838805/0437b744-1d1d-11e7-9277-b0693ad56937.png)

[2017-04-10 01:28] agc93 commented on #70
Hi @ShaneRayCafe and thanks for the report!

What version of the extension are you currently using?

If on 0.1.x can you please try installing the prerelease version of the extension as outlined in [this blog post](http://cakebuild.net/blog/2016/12/cake-vs-prerelease) as there have been quite a few changes to the task parsing logic for 0.2.x.

Thanks!

[2017-04-12 18:39] ShaneRayCafe commented on #70
@agc93 Thanks for your reply and sorry for the slow response.  It looks like the update to 0.2.x did partially resolve this issue.

#load "src/base.cake" - this now works as expected.

However, I have noticed that when using the #load directive with a script from nuget the tasks are not listed.
#load "nuget:?package=Shared.Build.Cake"

[2017-04-12 23:03] agc93 commented on #70
Ah that's a good find @ShaneRayCafe and as it was only added recently to Cake, the extension doesn't support that currently. I'll have a look at this and work out how we can support that case 😄

[2017-04-14 21:03] #63 closed

[2017-04-19 11:06] martpendle opened #71 "Publish of Extension with Support for Visual Studio 2017"
Hi

I have noticed that PR #67 has been merged into the develop branch.

When will this make its way over to the main branch/be published to visual studio gallery so the extension can be downloaded in Visual Studio 2017?

Thanks

[2017-04-19 13:45] agc93 commented on #71
Hey @martpendle! So the update for 2017 support meant quite a few changes that are not always trivial to test, so I'll need to put it through it's paces first. There's also a few other features we're hoping to get into the 0.2.0 release.

That being said, it's worth noting you can download the extension in Visual Studio 2017 and try it out now using our prerelease feed. Check out [this blog post](

[2017-04-19 13:51] martpendle commented on #71
Excellent! Thanks. is there anywhere I can view the release schedule?

[2017-04-20 12:10] agc93 commented on #71
Our release schedule is highly dependent on the time our team have (and in the case of this extension, especially myself), so we don't have a formalised release schedule at this time.

That being said, it's worth noting you can download the extension in Visual Studio 2017 and try it out now using our prerelease feed. Check out [this blog post](http://cakebuild.net/blog/2016/12/cake-vs-prerelease)

[2017-04-20 13:52] martpendle commented on #71
That's more than understandable, thank you for all your hard work

[2017-04-20 13:52] #71 closed

[2017-04-24 00:38] #50 closed

[2017-04-24 01:01] agc93 commented on #61
So there's no way to control this from the extension as it's all decided by the New Project dialog.

![screenshot 29](https://cloud.githubusercontent.com/assets/1369269/25319110/454bc3f8-28dd-11e7-9042-5a1aca3a107a.png)

May need to add a note to the documentation if this comes up more.

[2017-04-24 01:01] #61 closed

[2017-04-24 01:49] agc93 opened #72 "Upgrade to target .NET 4.6 and updated VSSDK packages"
Tracking issue for updating the .NET Framework target to 4.6 (shipped with 2015, our minimum supported version) and updating VSSDK dependencies to complement

[2017-04-25 09:05] #72 closed

[2017-05-10 13:26] #54 closed

[2017-05-12 14:31] alexreg opened #74 "VS for Mac version?"
This looks like a great tool. Any chance of a version for Visual Studio for Mac, in the near future?

[2017-05-12 15:03] gep13 commented on #74
@alexreg it is already in the works...

https://github.com/agc93/cake-xs

[2017-05-12 15:03] alexreg commented on #74
Ah, brilliant!

[2017-05-14 03:34] agc93 commented on #74
@alexreg As covered in [agc93/cake-xs#2](https://github.com/agc93/cake-xs/issues/2), we're working on Mac support as part of the Xamarin Studio addin. Discussion continues there 😄

[2017-05-14 03:34] #74 closed

[2017-07-07 07:51] Structed commented on #19
@gep13 If you'd like some help here, I'd be happy to help or even take over and finish this!

[2017-07-07 08:25] gep13 commented on #19
@Structed there is an Open PR where this was started, but I haven't been back to it.  If you wanted to continue working there, that would be great!

[2017-07-23 09:40] Structed commented on #19
Alright - sorry for the long absence...

I imagine the following would need to be done - please add/correct:

* Upgrade StyleCop.Analyzers to latest version
* Add stylecop.json to enforce header
* Fix all StyleCop style warnings

Perhaps even set the build to treat warnings as errors.

However, I believe we'd either need to sync the issue branch with cake-vs/develop or start over.
I tried merging

[2017-07-23 15:49] gep13 commented on #19
@Structed that all sounds good to me 👍

I have updated the PR that is associated with this issue to the latest code that is on the develop branch.  So it should be possible to continue with the work on that branch.

[2017-07-30 11:01] wind-rider commented on #42
`Task()` in my own method `ScheduleStartupTask();` is red

[2017-08-07 12:01] gep13 opened #75 "Switch to https URL's for downloaded artifacts"
Now that we have an SSL certificate on the website

[2017-08-07 12:04] #75 closed

[2017-08-21 11:47] nvivo commented on #63
Hi, sorry to ask again, but is this still being developed?

[2017-08-21 12:13] gep13 commented on #63
@nvivo this is on my cards to get something shipped.  I am hoping to do it this week.  Got a few things off my todo list this weekend, and this and the cake-vscode extension is next on my list.

[2017-08-21 12:17] agc93 commented on #63
@gep13 In case you get to it before I do: I've had another proper crack at the features currently in `develop` and they all look good enough to merge, but most of my WIP features are too far from ready to delay any further for, so a basic `develop` merge-and-release should be ready to go for whichever of us gets there first 😄

[2017-08-21 12:19] gep13 commented on #63
@agc93 perfect, I will keep you posted if I get to this :+1:

[2017-08-21 17:11] crash-dive commented on #63
I just wanted to add we have been using the pre-release version on VS17 for over 6 months across a team of 5 with no issues. I have just installed the latest prerelease version (https://ci.appveyor.com/project/cakebuild/cake-vs/build/0.2.0-unstable.54.build.94/artifacts) and it all seems to work fine.

Looking forward to an easier setup for new dev environments!

[2017-08-22 20:13] #18 closed

[2017-08-22 20:34] gep13 opened #76 "Update to Cake 0.21.1"

[2017-08-22 20:35] #76 closed

[2017-08-22 20:51] gep13 commented on #27
You can find this documentation here:

https://github.com/cake-build/processes/blob/master/cake-vs/release.md

[2017-08-22 20:51] #27 closed

[2017-08-22 21:20] gep13 commented on #63
@agc93 so looks like I got to this first 😄

Let me know if you see any issues, and let me know what you think of this:

https://github.com/cake-build/processes/blob/master/cake-vs/release.md

[2017-09-09 23:46] Structed commented on #19
So after a few tries to get the solution compiled, I guess I need some help getting this to work so I can actually start working on StyleCop.

@gep13, would you be so kind as to give me some guidance? (probably outside this issue)

[2017-09-11 21:50] MonDeveloper opened #77 "Cake for Visual Studio (2017) always crash during build.cake edit"
Version
0.2.0.0
Last updated
7/9/2017, 05:32:23
Publisher
Cake Build

[2017-09-19 16:42] MonDeveloper opened #78 "Different behavior among VS & PS BootStrapper"
I'm experiencing some strange behaviors, it seems CAKE perform differently when launched via PS Bootstrapper or via VS Task Runner (using the cake-vs extension).

- Sometimes it uses an old version of the roselyn compiler (no c#6) and it won't compile the script because I use string interpolation
[code]
I guessed the proble is related to the version of the compiler (and the c# language def, of cou

[2017-09-20 08:41] MonDeveloper commented on #78
Just adding another error that could bring more value to the analysis. Here the step to reproduce

- Take a plain build.cake working on both VS & PS
- Add **Cake.FileHelpers** addin
- Try running with VS it fails with this error:
[code]
- Try running with PS it works as expected and it install the addin
[code]

[2017-09-29 08:44] olirich opened #79 "Add an option to set the "cake.exe" absolute or relative path"
It seems that Cake for Visual Studio is looking for "Cake.exe" either in the solution folder or in the PATH environment variable. If not found, Visual Studio gives the status bar message : "_Could not find Cake.exe in the local folder or in the PATH_".
The standard use case for Cake is to use the build.ps1 bootstrapper script to install the Cake tool with its dependencies beside the solution.

I h

[2017-10-26 11:02] RavinduL opened #80 "Cake Tasks in a Solution Folder aren't listed in the Task Runner Explorer"
I've got a .NET Standard class library project with the following structure,

[code]

The Cake build scripts located within the `src/Cake/` folder are added to the `Project.sln` solution within a Solution Folder (right click solution -> Add -> New Solution Folder), so that the Solution Explorer shows this (I've redacted some information),

![Solution Explorer](https://user-images.githubusercontent

[2017-10-26 11:58] gep13 commented on #80
@RavinduL unfortunately, you are running into a known limitation of Visual Studio.  This is detailed in this issue:

https://github.com/cake-build/cake-vs/issues/30#issuecomment-251945464

I am going to close this as it is a duplicate of the other.

[2017-10-26 11:58] #80 closed

[2017-10-26 21:01] RavinduL commented on #80
Thanks for your reply @gep13. @agc93's solution worked perfectly...

I resolved this by adding two files, `build.cake` and `cake.config` to the root of the `Project`.

`build.cake` contained,
[code]

`cake.config` contained,
[code]

[2017-10-26 21:15] gep13 commented on #80
@RavinduL glad to hear that you got this working!  Thanks for reporting back!

[2017-10-31 15:06] jrgcubano opened #81 "Bug trying to edit empty build.cake file on visual studio 2017"
Aplicación: devenv.exe
Versión de Framework: v4.0.30319
Descripción: el proceso terminó debido a una excepción no controlada.
Información de la excepción: System.NullReferenceException
   en Cake.VisualStudio.Helpers.Extensions.RequiresOffset(Microsoft.VisualStudio.Text.ITextSnapshotLine, System.String[])
   en Cake.VisualStudio.Editor.SmartIndent.GetDesiredIndentation(Microsoft.VisualStudio.Text.

[2017-10-31 16:05] jrgcubano commented on #81
It only happens when the file is empty

[2017-11-09 18:07] gep13 opened #82 "Add support for Cake.Bakery"
This would simply be amazing!

[2017-11-14 08:53] wojciechrak commented on #79
I am voting for this, too. In our case, we already had a path `/tools` in our repository, so we put Cake in `/cake/tools` instead.

[2017-11-20 22:13] njappboy opened #83 "VS2017 - Task Runner Explorer Failure"
I received a VS2017 update Friday and it has caused the task runner explorer to fail to load any cake tasks. I setup a quick sample project to make sure the issue wasn't due to pre-existing artifacts.  Same issue with the new project, although, as you see in the screenshot, that `build.cake` is displayed - minus its tasks. In all existing VS2017 csproj that use cake and build.cake the `build.cake`

[2017-11-21 06:03] agc93 commented on #83
Thanks for the heads up @njappboy ! Can you give me your exact Visual Studio version (the updated one) so I can try and replicate this issue?

[2017-11-21 15:02] njappboy commented on #83
@agc93
Let me know if you need anything else for diagnosis:

**Version 15.4.4**
**VisualStudio.15.Release/15.4.4+27004.2009**

[code]

[2017-11-22 14:51] njappboy commented on #83
@agc93 I've started striping cake out my solution to see if the issue resolves itself. Once I removed cake.config files from each project the Task Runner Explorer began working once again after re-opening the solution in VS2017.

Let me see if I can isolate the issue.

[2017-11-22 15:32] njappboy commented on #83
@agc93 closing this issue. User error was the cause.. 2 Nuget sources in a cake.config
[code]

[2017-11-22 15:32] #83 closed

[2017-11-28 13:43] agc93 commented on #83
Great, thanks for the update @njappboy ! Happy to hear you worked it out, and I might try and improve the error reporting a little in a future release.

Thanks again!

[2017-12-13 10:54] devlead opened #84 "Cake for Visual Studio 0.2.0.0 crashes constantly."
@PradeepLoganathan commented on [Wed Oct 25 2017](https://github.com/cake-build/cake/issues/1893)

### What You Are Seeing?
Cake extension is causing VS 2017 15.4.1 to crash constantly. It is replicable easily.

### What is Expected?
Cake extension should not crash.

### What version of Cake are you using?
Cake for Visual Studio 0.2.0.0

### Are you running on a 32 or 64 bit system?
I am running a

[2018-01-30 01:01] VanKrock commented on #84
CallStack from EventViewer
 System.NullReferenceException
   в Cake.VisualStudio.Helpers.Extensions.RequiresOffset(Microsoft.VisualStudio.Text.ITextSnapshotLine, System.String[])
   в Cake.VisualStudio.Editor.SmartIndent.GetDesiredIndentation(Microsoft.VisualStudio.Text.ITextSnapshotLine)
   в Microsoft.VisualStudio.Text.Editor.Implementation.SmartIndentationService.GetDesiredIndentation(Microsoft

[2018-01-30 01:58] VanKrock commented on #84
#87

[2018-02-13 03:55] donamk commented on #77
Same here :(

[2018-03-11 23:48] abjoseph opened #88 "Syntax Highlighting Broken Visual Studio 2015 - Regression Bug ?"
I'm currently using Visual Studio 2015 Update 3 and after upgrading from version 0.1.1 to anything higher I no longer get Cake DSL syntax highlighting.

Reverting back to version 0.1.1 restores the limited but much appreciated syntax highlighting.

[2018-04-15 23:31] MarkKharitonov commented on #88
I have just installed the cake plugin and there is no syntax highlighting. This is version 0.2.0.0

I guess I need to explore installing 0.1.1 instead.

[2018-04-25 19:46] Marusyk opened #90 "No task runner configurations were found"
I'm using VS 2017 15.6.6 and extension Cake for Visual Studio 0.2.0.0. When build.cake is in the root folder with solution then everything works fine:

\Project\Solution.sln
\Project\build.cake

But I need to move build.cake and other (build.ps1 ...) to cake fodler:
\Project\Solution.sln
\Project\cake\build.cake

Then task runner says: No task runner configurations were found.

I've tried to add .

[2018-06-25 17:50] Marusyk commented on #90
any news?

[2018-07-20 20:34] chris-thompson-go opened #91 "Cake-vs can crash if the cake file is empty"

[2018-07-20 21:15] chris-thompson-go opened #93 "Cake-vs only loads build.cake"
I did quick survey of github projects using cake and the vast majority use a single build.cake file.  It would be handy, however, if the Task Runner integration would load all the cake scripts in the project.

[2018-07-21 20:19] mholo65 commented on #82
Created branch [here](https://github.com/cake-build/cake-vs/tree/feature/omnisharp-lsp-integration), still very WIP, but it works 😉

[2018-10-03 07:53] bgiot commented on #93
I vote for the same request.  Otherwise I don't really understand why we have a tree view in the Task Runner Explorer if it only support one cake build script...

[2018-10-09 04:41] agc93 commented on #93
To answer your point specifically, the tree view is something that Visual Studio puts in and our extension slots into. VS's extensibility is decidedly tricky to work with, so there are certain things we just have to work around.

To the larger point, this is something I have looked at it in the past, but wasn't able to get working reliably. We obviously accept PRs, but we have some larger changes

[2018-10-29 15:01] JustinKaffenberger commented on #93
What's interesting is I have a `build.cake` file that references a `tasks.cake` file, so I would think all of the tasks would be loaded in. However, this is not the case, and the default target is the only one that gets loaded in.

[2018-12-14 22:02] glen-nicol opened #95 "Task Runner color output"
It would be really helpful to get color output in the VS Task runner output. After looking at other [task runner extensions](https://marketplace.visualstudio.com/items?itemName=MadsKristensen.WebPackTaskRunner) I see it is possible and usually [up to the process](https://github.com/madskristensen/NpmTaskRunner/issues/9#issuecomment-167717095) that is running to provide the color. Cake does this by

[2019-01-23 16:14] Marusyk commented on #90
closing this issue because the project is dead

[2019-01-23 16:31] gep13 commented on #90
@Marusyk that is an unfortunate turn of phrase.

This project is not dead, it simply isn't currently a priority.  I am aware that there are some open issues on the extension, and I am hoping to get to them, or perhaps @agc93 will have some time.

I am going to re-open this issue.

[2019-01-23 20:23] Marusyk commented on #90
ok, but the last commit was more than year ago. So, it looks like not maintained anymore

[2019-01-23 22:17] Marusyk commented on #90
Thanks, I know what is open source and how it works. But each project has owner or community that maintain it, and this community or owner helps people with their issues. I've opened this issue almost a year ago and didn't receive aswer or any help (even that it has low priority now). No response! The  problem for me is not actual anymore. So, I decided to close this issue because, as I said, I di

[2019-01-24 07:31] gep13 commented on #90
I know what is open source and how it works.

So say this, but I am not sure that you do.  I specifically stated that I was going to re-open this issue (so that it can be tracked when there is someone able to look into the problem) and yet you have chosen to close it again.  Why?

You seem to be of the opinion that creating an issue on a repository entitles you to something, but I am going to tell

[2019-01-24 16:31] sbakharev commented on #79
Hello! The bug is still in place and we're interested in a fix too.

We renamed the Cake's tools folders to ".build-tools" in build.ps1 for it to be alphabetically standing before the solution projects' folders instead of appearing somewhere in the middle.

So the script placed all tools to ./.build-tools/ and Cake itself to ./.build-tools/Cake/Cake.exe. With this setup in place Cake extension for

[2019-01-28 14:45] mmacehardyman opened #97 "Unable to add a binding to the Project Open event"
I am struggling to get a Cake task to work with the Project Open binding in the Visual Studio Task Runner.
It seems to be added after I try, but then instantly disappears without making any changes.
The other bindings work just fine.

Am I the only one seeing this problem, and/or is there a solution available?

Thanks.

[2019-02-07 15:19] jnm2 commented on #45
Closing due to lack of response.

[2019-02-07 15:19] #45 closed

[2019-02-07 15:19] jnm2 commented on #40
Closing due to lack of response.

[2019-02-07 15:19] #40 closed

[2019-02-07 15:19] jnm2 commented on #46
Closing due to lack of response.

[2019-02-07 15:19] #46 closed

[2019-02-07 15:41] jnm2 commented on #42
Closing due to lack of response.

[2019-02-07 15:41] #42 closed

[2019-03-07 12:02] jakubsuchybio opened #98 "Make available for VS 2019"
Hi,
could you make cake-vs extension available for VS2019?
Thanks :)

[2019-03-19 14:39] #97 closed

[2019-03-19 14:44] mmacehardyman commented on #97
@agc93 Great that it's fixed (glad it was a small fix)! When can we expect to see this in the upcoming release?

[2019-03-19 14:47] gep13 opened #100 "Fix AppVeyor Build"
I thought all that was required was to skip verification for the MagicChunks addin, but looks like there is more to it:

![image](https://user-images.githubusercontent.com/1271146/54615330-26f9fa80-4a1b-11e9-91b5-5a63feba2e44.png)

https://ci.appveyor.com/project/cakebuild/cake-vs/builds/23192248

[2019-03-19 15:17] gep13 commented on #97
When can we expect to see this in the upcoming release?

Short answer... don't know.  There are a few things that we likely want to tackle in this release.  I would suggest following along on the 0.3.0 milestone to see when all items (once added to the milestone) are closed.  You should be able to use the pre-release version, once we fix up the AppVeyor build which currently isn't working.

[2019-03-19 17:14] agc93 opened #101 "Update extension to use new VSSDK APIs"
Most notably this needs to be changed to using `AsyncPackage` to make sure we don't break background auto-load, but we should update the templates with tags to keep things working with newer versions.

[2019-03-19 17:31] agc93 commented on #100
I just did a rebuild and it seems to have worked this time, maybe just a network problem or something. LGTM now.

[2019-03-19 18:47] agc93 commented on #91
Resolved by #92

[2019-03-19 18:47] #91 closed

[2019-03-19 18:48] gep13 commented on #100
@agc93 perfect.  Let's put it down to a glitch in the matrix 😄

[2019-03-19 18:48] #100 closed

[2019-03-19 18:53] agc93 commented on #81
This behaviour should now have been resolved by #92.

Please reopen this issue if you are still seeing this issue with the latest [prerelease version](https://cakebuild.net/blog/2016/12/cake-vs-prerelease).

[2019-03-19 18:53] #81 closed

[2019-03-19 19:07] agc93 commented on #84
Resolved by #87

[2019-03-19 19:07] #84 closed

[2019-03-20 17:17] agc93 commented on #97
Just want to update @mmacehardyman that the prerelease builds *should* be working correctly now.

If you get a chance to [try out the prerelease builds](https://cakebuild.net/blog/2016/12/cake-vs-prerelease) and let us know if this is working now, that would be helpful!

[2019-03-20 18:39] agc93 opened #104 "Add solution item template"
To complement the project-level New Item template, we can add a template for the Solution Items menu.

Note that it appears there's no way to add an item to the Solution-level New Item dialog, only the Solution Items-level New Item dialog.

[2019-03-20 19:25] agc93 commented on #104
Committed @dlbroadfoot's excellent solution as part of 39bbe83bf828051f417a7779507cb4c2c20d70de

[2019-03-20 19:25] #104 closed

[2019-03-20 20:16] #98 closed

[2019-03-20 20:16] #101 closed

[2019-03-21 00:10] agc93 commented on #79
Thanks everyone for all the feedback. I know this has been a very long time coming, but I've been revisiting a few of these long-term pain points of late and wanted to let you know what's happening.

I understand that this is frustrating behaviour but a lot of our options are either difficult to achieve in the VS environment or have other issues that we would then need to fix again.

My current in

[2019-03-21 07:06] mmacehardyman commented on #97
Thanks @agc93 ! I tried the prerelease build and it's now working properly!

[2019-03-21 18:39] agc93 commented on #90
Just to update this: as it stands today, this is a limitation in Visual Studio, not in the extension.

VS only activates our extension when it locates a `build.cake` file, and the Task Runner component only seems to get activated by the VS Shell. I'll keep looking for ways to work around it, but there's only so much we can do when VS doesn't allow us to change that behaviour...

[2019-03-21 19:46] agc93 commented on #79
I've now added experimental support for using `cake.config` for this. The extension will now try to resolve `cake.exe` from the following locations (in this order):

- The directory set by the *Tools Path* [configuration value in `cake.config`](https://cakebuild.net/docs/fundamentals/default-configuration-values#tools-path)
- The value of the `CAKE_PATHS_TOOLS` environment variable (if set)
- The

[2019-03-21 19:53] agc93 commented on #77
Thanks for reporting @MonDeveloper and @donamk !

To reproduce this, I'd definitely need a bit more information on what specifically is causing this.

First, if possible, it would be best if you can test with our [latest prerelease version](https://cakebuild.net/blog/2016/12/cake-vs-prerelease) as there's been quite a few "under the hood" improvements to how the extension works.

If it still cause

[2019-04-03 16:23] Lolle2000la opened #106 "Support Visual Studio 2019"
Currently the extension only supports Visual Studio 2015 and 2017. Support for Visual Studio 2019 would be really helpful.

[2019-04-03 16:29] gep13 commented on #106
@Lolle2000la thanks for raising this issue.  This has actually already been addressed in this issue:

https://github.com/cake-build/cake-vs/issues/98

[2019-04-03 16:29] #106 closed

[2019-04-03 16:31] gep13 commented on #106
@Lolle2000la see this blog post for how to take the pre-release version for a spin:

https://cakebuild.net/blog/2016/12/cake-vs-prerelease

[2019-04-03 16:39] Lolle2000la commented on #106
Thank you! Did not see that. Worked like a charm!

[2019-05-31 18:35] lprichar commented on #98
Any plans to publish the plugin to the marketplace, or will it stay in myget indefinitely?

[2019-05-31 19:00] devlead commented on #98
Yes

[2019-06-04 11:17] martin-pritchard commented on #98
Is there an ETA for publishing?

[2019-06-04 11:24] patriksvensson commented on #98
No. Probably as soon as someone have time to do it and look into CI etc for it

[2019-06-11 18:59] lprichar opened #108 "VS2019 Fails to Refresh Tasks on Open"
# Summary

When opening a cake enabled solution for the 1st time in VS2019 the task explorer isn't populated.

# Repro Steps

1. Close Visual Studio 2019
2. Open Visual Studio 2019
3. Open a solution with a cake file, mine is a solution item
4. Open task runner explorer window

Expected: to see tasks from cake file
Actual: empty set of tasks

# Workaround

Clicking the refresh button in the top le

[2019-07-16 04:06] stepheneb opened #109 "Task Runer not displayed, VS Community 2019, Cake Build 0.3.0.0018"
Task Runner not appearing when right-clicking on `build.cake`

Following instructions here: https://cakebuild.net/blog/2016/12/cake-vs-prerelease

Installed prerelease Cake Build 0.3.0.0018 into Visual Studio Community 2019 v16.1.6.

Installed Cake using choco.

Multiple projects in solution.

Running Build > Cake Build > Install PowerShell bootstrapper worked.

file: `build.cake` executes properl

[2019-08-16 06:28] Kirya522 commented on #106
this thing doesn't work in last vs19 version

[2019-08-16 06:43] Kirya522 opened #110 "Add support for Visual Studio 2019"
I have added custom vsix galleries for my vs
![image](https://user-images.githubusercontent.com/33904040/63148527-e67ac900-c01a-11e9-8610-14b3098fbd96.png)
But I can't receive update for my studio
![image](https://user-images.githubusercontent.com/33904040/63148557-ff837a00-c01a-11e9-990e-04f8167cfc92.png)

[2019-09-25 08:32] marcinsmialek commented on #110
Can you try a fresh install from the https link?
It worked fine on my 16.3.0

[2019-10-17 13:30] ravensorb commented on #106
Any updates?

[2019-11-13 07:53] markofranjic opened #111 "Debug task doesn't work if add static class in Task name"
Hi Team,

When I write Task name in string I can run debug task over Visual Studio, but when I add static string name, debut task dissapear

![image](https://user-images.githubusercontent.com/15909773/68743545-ff335480-05f2-11ea-89e2-adbe199ef994.png)

[2019-12-05 13:34] soroshsabz commented on #110
ITNOA

When cake official release for visual studio 2019

https://marketplace.visualstudio.com/items?itemName=vs-publisher-1392591.CakeforVisualStudio

says only support 2017

[2020-01-06 13:40] lobster2012-user commented on #110
vs 16.2.5

![изображение](https://user-images.githubusercontent.com/9452368/71821407-22362e00-30a3-11ea-9e40-8b573e28f391.png)

![изображение](https://user-images.githubusercontent.com/9452368/71821375-0b8fd700-30a3-11ea-9789-2b14031f0922.png)

[2020-01-08 22:39] lprichar commented on #98
Any updates on this?

[2020-01-09 17:15] soroshsabz commented on #110
@lobster2012-user why not release in official repo?

[2020-01-19 16:13] soroshsabz commented on #106
@gep13 Why this issue is close when we do not see any stable version of cake for visual studio 2019?

thanks :)

[2020-01-20 16:30] Peremoga22 commented on #98
How to Customize Cake in Visual Studio 2019?

[2020-02-07 06:40] ByteDev commented on #110
lobster2012-user way of adding also works for 16.4.3.

Agree with soroshsabz why not official release for vs 2019.

[2020-03-23 10:51] soroshsabz commented on #110
Any update? Can we help you for resolve any problem that prevent to release official for visual studio 2019?

[2020-03-23 14:21] mholo65 commented on #110
Ping @agc93 as he is currently working on support for VS2019.

[2020-05-09 01:22] rroman81 commented on #106
@soroshsabz this cake extension is still in pre-release phase.

[2020-07-30 21:44] soroshsabz commented on #98
Please reopen this issue and make stable release of cake extension for visual studio 2019

[2020-07-30 21:44] soroshsabz commented on #106
@rroman81  Please reopen this issue and make stable release of cake extension for visual studio 2019

[2020-10-13 21:23] pascalberger opened #112 "Add support for Frosting"
It would be nice to have support for Cake Frosting projects for the task runner, templates and snippets

[2020-12-10 01:48] mediabuff opened #113 "Cake for visual studio extension - not installable in VS2019 Community Edition"
![image](https://user-images.githubusercontent.com/5080114/101710630-df719880-3a5f-11eb-9bb0-30dc45b47fde.png)

[2020-12-10 06:30] pascalberger commented on #113
This is probably a duplicate of #110

[2020-12-10 12:29] mediabuff commented on #110
the following link is dead.
https://www.myget.org/F/cake.vsix

[2020-12-10 15:58] augustoproiete commented on #110
@mediabuff You have a "." (dot) in your URL that should be a "/" (forward slash).

The correct URL is **https://www.myget.org/F/cake/vsix**

![image](https://user-images.githubusercontent.com/177608/101795970-d8d63600-3ade-11eb-90ce-c8989dc5a91d.png)

![image](https://user-images.githubusercontent.com/177608/101795982-dc69bd00-3ade-11eb-91ae-d67c2939df9b.png)

[2020-12-11 08:09] gep13 commented on #110
@augustoproiete thanks for following up here, appreciate it.

@mediabuff Getting this extension updated is the next thing on my priority list.  Getting it updated to get the build working, and then going to try to get something shipped.

[2020-12-14 20:38] gep13 opened #114 "Remove support for Visual Studio 2015"

[2020-12-14 21:04] gep13 opened #115 "Remove usage of Experimental option passed to Cake"
This has been removed in newer versions of Cake, and should no longer be passed through as an option.

[2020-12-14 22:09] gep13 opened #116 "Support usage of .Net Tool for Cake"
In addition to looking for Cake.exe, the extension should also work with dotnet-cake.exe out of the box.

[2020-12-15 20:01] #115 closed

[2020-12-15 20:02] gep13 commented on #113
@mediabuff as @pascalberger this is a duplicate of an existing request.  As such, I am going to close this out, in favour of the existing issue.

[2020-12-15 20:02] #113 closed

[2020-12-15 20:04] gep13 commented on #109
@stepheneb thanks for raising this.

We are just now getting round to updating this extension, and I have tested and verified that this is now working as expected with the latest release on the MyGet feed.

We will, hopefully, we shipping a new official release of this extension, which will include this functionality.

For now, I am going to go ahead and close this out.

[2020-12-15 20:04] #109 closed

[2020-12-15 20:05] gep13 commented on #109
I am not going to assign this issue to the 0.3.0 milestone, since 2019 support is only shipping with 0.3.0.

[2020-12-15 20:06] gep13 commented on #77
I am going to go ahead and close this out, since this hasn't had a response.

If this is still an issue, please let us know.

[2020-12-15 20:06] #77 closed

[2020-12-15 20:09] gep13 commented on #88
I am going to go ahead and close this out.  In the upcoming release of the Cake Extension for Visual Studio we are removing support for Visual Studio 2015, and when I checked in 2017 and 2019 syntax highlighting is working as expected.

[2020-12-15 20:09] #88 closed

[2020-12-15 20:14] gep13 commented on #30
I have just read through the discussion here, and I believe that this issue can now be closed.

If this isn't the case, then please comment again.

[2020-12-15 20:14] #30 closed

[2020-12-15 20:18] gep13 commented on #78
Based on what was discussed here, I think the problem was that in one scenario (using the bootstrapper) addins were being added via the packages.config file, which were being resolved in the bootstrapper.  When executing the task directly, which simply runs cake.exe, those addins were not being restored.  Usage of the packages.config files for addins/tools/modules is not longer recommended, and th

[2020-12-15 20:18] #78 closed

[2020-12-15 20:23] #114 closed

[2020-12-15 20:26] gep13 commented on #79
I believe that this now works as expected, so going to go ahead and close this out.

[2020-12-15 20:26] #79 closed

[2020-12-15 20:30] gep13 commented on #111
Currently, the way that Tasks are located in the Cake scripts is done via a hard coded Regular Expression, which you can find here:

https://github.com/cake-build/cake-vs/blob/develop/src/TaskRunner/TaskParser.cs

At some point, it would make sense to provide the ability, via a setting, to control the Regular Expression that is used to identify tasks.

@mrlacey I don't suppose you would have any e

[2020-12-15 20:32] gep13 commented on #82
@mholo65 am I right in saying that if we proceed with this, it would be done via the Cake LSP?

Just thinking about updating the issue title to make it clearer about direction going forward.

[2020-12-15 20:37] gep13 opened #118 "Add missing preprocessor key words"
Currently, within the CakeLanguage file, we include the following:

https://github.com/cake-build/cake-vs/blob/develop/src/Classifier/Languages/CakeLanguage.cs#L14

[code]

However, as per the docs here:

https://cakebuild.net/docs/writing-builds/preprocessor-directives

There are actually other directives that we should support.

[2020-12-15 20:38] gep13 commented on #118
A PR was opened to address this issue:

https://github.com/cake-build/cake-vs/pull/85

But this will require to be updated, with the recent changes that were made to the source code.

[2020-12-15 20:41] gep13 opened #119 "Add download commands for additional bootstrapper files"
With the upcoming release of Cake 1.0.0, there are now 3 supported ways of running Cake scripts:

* .NET Tool
* .NET Framework
* .NET Core

Currently, the Visual Studio extension allows you to download Bootsstrappers (.ps1 and .sh) for only .NET Framework.

Commands should be created to support downloading the boostrappers for all the available options.

[2020-12-15 20:46] mrlacey commented on #111
For simple settings (called Options in VS, such as you'll find under Tools > Options)

- Create a class that inherits from `Microsoft.VisualStudio.Shell.DialogPage` [[example](https://github.com/mrlacey/CollapseComments/blob/main/src/OptionsPageGrid.cs)]

- Tell VS about the page by adding the `ProvideOptionPage` attribute on the package. [[example](https://github.com/mrlacey/CollapseComments/blob

[2020-12-15 20:57] gep13 commented on #111
@mrlacey this is great, thank you for all the information!

Will just start with the basics, but if this turns out to be anything like the configuration in the VSCode extension, it could get "interesting" 😄

[2020-12-16 05:26] mholo65 commented on #82
Yep, that is correct!

[2020-12-16 07:29] #118 closed

[2020-12-16 08:08] gep13 opened #120 "Switch to using consistent -- arguments"
Moving forward, Cake will always respect arguments that use -- arguments, but using the old style - argument will cause problems.

i.e. using --target instead of -target.

The code base should be updated to use -- everywhere.

[2020-12-16 08:11] gep13 opened #121 "Exception when cake.config file doesn't exist"
There is an exception in the `GetToolsPath` method when the cake.config file doesn't exist.

![image](https://user-images.githubusercontent.com/1271146/102321929-3f8f9f80-3f76-11eb-9f71-00d4e8e91257.png)

[2020-12-17 20:07] #120 closed

[2020-12-17 21:15] gep13 commented on #119
This has now been extended to include 6 menu items:

![image](https://user-images.githubusercontent.com/1271146/102544631-fd1cae80-40ac-11eb-8c35-86bccffb7c75.png)

[2020-12-17 21:15] #119 closed

[2020-12-17 21:16] gep13 commented on #110
I have been testing this out, and from what I can see, Visual Studio 2019 support is working as expected, and will be included in the next release.

[2020-12-17 21:16] #110 closed

[2020-12-18 07:54] #121 closed

[2020-12-18 21:44] #116 closed

[2020-12-21 19:40] gep13 opened #122 "Add GitReleaseManager into build process"
To help with creation of release notes from issues contained within the milestone, and also for updating issues that are closed within a closed milestone.

[2020-12-21 19:42] gep13 opened #123 "Add automatic publishing of vsix to marketplace"
Currently, the vsix is only published to MyGet.  On a tagged build, we should also publish the vsix file to the Marketplace.  This can be done using the VsixPublisher.exe:

https://www.meziantou.net/ci-cd-pipeline-for-a-visual-studio-extension-vsix-using-azure-devops.htm

[2020-12-21 19:42] gep13 opened #124 "Add Gitter/Twitter notifications when release is completed"
Similar to what is done with the Cake releases, send a message to Gitter/Twitter when a new version is released.

[2020-12-21 20:14] gep13 opened #125 "Look into signing of the VSIX file"

[2020-12-21 20:20] devlead commented on #125
SignClient used for i.e. Cake nuget packages should support vsix too.

[2020-12-21 20:45] gep13 opened #126 "Don't bump version number in manifest file unless on a tag"
This will stop merge conflicts, and only update the file when actually required.

[2020-12-21 20:49] gep13 opened #127 "Switch to using 3 part version number"
i.e. Major.Minor.Patch

[2020-12-21 21:14] gep13 opened #128 "Images in marketplace page are not working"

[2020-12-21 21:15] gep13 opened #129 "Missing C# tag"
It was there in the 0.2.0.0 release, but didn't flow through when using VsxiPublisher.exe to do the publish.

[2021-02-02 22:45] augustoproiete opened #130 "Make adding cake.config to Solution Items opt-in (or remove this feature)"
Currently if there's a `cake.config` present in the root folder of the repo, the VS extension modifies the Solution file and adds the `cake.config` to a solution folder called "Solution Items" ([hard-coded](https://github.com/cake-build/cake-vs/blob/66f8f66531d5aa3c35535ec36900ab8cefc742b7/src/Helpers/ProjectHelpers.cs#L136)).

The extension should not make changes to files unless the user explici

[2021-02-04 07:17] robgha01 opened #131 "Debugging Cake.exe in visual studio addin dlls not resolved "404""
### What You Are Seeing?
Im seeing this:
![image](https://cloud.githubusercontent.com/assets/362726/25673332/531d6cd2-3037-11e7-8f9a-0e3996ae200e.png)

it can't find any cake addins but thay are downloaded and getting installed, this goes for all addins.
if i manually copy the dll file from addins folder to cake.exe folder it works.

im using a custom configuration that looks like this (cake.confi

[2021-02-14 07:30] soroshsabz commented on #110
Thanks for it :)

[2021-05-07 11:09] soroshsabz opened #132 "Task Runner Explorer does not show task"
ITNOA

I have one big solution with more than 100 projects. my structure of solution is like below

[code]

All of my projects is in Source directory, and my cake file in build directory. I want to someway to say visual studio load task from cake file. ( At now state my task runner explorer is empty )

My question is how to do this?

[2021-05-07 11:10] soroshsabz commented on #108
related to #132

[2021-05-07 11:11] soroshsabz commented on #28
I think it is great feature and more like Epic :)

[2021-05-07 11:20] soroshsabz commented on #93
@gep13  I think it is better to add some config file to locate cake file with custom path and name.

[2021-05-07 11:20] soroshsabz commented on #93
related to #132

[2021-06-20 19:47] nils-a opened #133 "migrate to VS-2022"
*Cake for Visual Studio* does not show up on the list of extensions for VS 2022.

Additionally to modifying the version in the manifest it seems there is more to do for a migration.

* [Announcement of VS 2022 preview 1](https://devblogs.microsoft.com/visualstudio/visual-studio-2022-preview-1-now-available/)
* [Update a Visual Studio extension for Visual Studio 2022](https://docs.microsoft.com/en-

[2021-08-17 15:21] nils-a opened #134 "Code Snippets are not working"
On VS 2019 (16.11.0) using a fresh installation of Cake for Visual Studio (0.3.0.0):
* There is no `Cake` language in the Snippets Manager
   ![image](https://user-images.githubusercontent.com/349188/129752872-4521be73-07cf-4f89-9a04-30de93737004.png)
*  Cake files do not show the "Snippet > Insert Snippet" context menu
* c# files do not list the snippets defined in this extension under the "Snipp

[2021-08-23 19:30] #133 closed

[2021-08-23 19:32] nils-a commented on #134
This was solved in https://github.com/cake-build/cake-vs/pull/135

[2021-08-23 19:32] #134 closed

[2021-08-23 20:04] #128 closed

[2021-08-23 20:42] gep13 opened #136 "Ensure VSIX Identity is different between VSIX's"
This will allow us to publish an extension only for 2019 and earlier, and one for 2022 an later.

[2021-08-23 20:44] #136 closed

[2021-08-23 20:53] nils-a opened #137 "Harmonize VSIX Identifiers"
In #136 the id of the 2022 vsix was modified, because the current marketplace does not support multiple vsix versions per extension.

When the marketplace supports multiple vsix per extension we need to "undo" https://github.com/cake-build/cake-vs/commit/b6872328f4f5cf4ff4be04eb33bc09475267389e#diff-5bff03d2ae2abe57899082b68c4c527f95f32b069ff394c4ba107ee2ff62e14a

[2021-08-26 07:23] nils-a opened #138 "update project templates"
The project templates are outdated and should be updated.
Also, Cake for Rider ships the "Cake Frosting" project template - we should think about adding that, too.

[2021-08-26 07:29] nils-a opened #139 "add missing snippets"
Cake for Rider and Cake for VSCode ship the same set of snippets for Cake script files.
Cake for Visual Studio should ship those snippets, too.

[2021-08-30 18:26] gep13 opened #140 "Error when creating new Cake project from template"
When attempting to create a new project using one of the provided Cake Project Templates, you are met with the following error:

![2021-08-30_19-23-03](https://user-images.githubusercontent.com/1271146/131386381-2b234e0e-4ca4-4c71-be52-01040fa4de4e.png)

I suspect that this is due to the fact that in order to publish the two versions of the "same" extension, we had to change the VSIX identifier:

[2021-08-30 20:47] #140 closed

[2021-10-11 00:46] augustoproiete opened #141 "Update Installation Instructions in the VS Marketplace for Cake v2.0.0"
As part of the Cake v2.0.0 release [we'll no longer ship new versions of the .NET Framework and Mono runners](https://cakebuild.net/blog/2021/10/sunsetting-runners), and as a consequence of that we'll also stop shipping the Chocolatey package for the Cake runner.

The Installation Instructions in the Visual Studio Marketplace needs to be updated to reflect that the way to install Cake moving forwa

[2022-07-11 00:39] #90 closed

[2022-09-13 21:10] louisfischer commented on #112
HI Was wondering if this was going to be worked on. I do not have any experience with VSIX Extensions but would help out if needed to get this into Visual Studio